/* Main CSS */

body, body * {
	margin:0;
	font-family: 'Helvetica';
}

li {
	line-height: 18px;
}

/***** Header *****/

header {
	height: 86px;
	background-color: #FFF;
	clear: both;
	margin: 0 auto;
  padding: 10px 0 8px 0;
}

header h3 {
	color: orange;
}

header a {
	color: #464646;
}

section h1 {
	margin-top: 1em;
}

#name {
	float: left;
  color: #fff;
  overflow: hidden;
  font-size: 16px;
  margin: 16px 0 10px 0;
  width: 404px;
  height: 40px;
}

#name a {
	display: block;
  border: none;
  color: #202020;
  height: 55px;
  font-size: 25px;
  text-decoration: none;
	text-transform: uppercase;
	font-family: "Helvetica";
}

/***** Navigation *****/

nav {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	margin:0 auto;
}

nav ul {
	margin: 20px;
}

nav ul li {
	display:inline;
	margin: 0;
}

nav li a, nav li a:visited,
nav li a:hover, nav li a:active {
	color: #212121;
	text-decoration: none;
  font-size: 18px;
  float: left;
  padding: .2em .5em;
}

/***** Main Content *****/

main {
	position: relative;
	left: 0;
}

main section {
	margin-top:15px;
}

#banner {
	background-color: #e0e0e0;
	height: 300px;
}

/***** Products *****/

#product-list {
	list-style: none;
}

#product-list li {
	float: left;
  margin: 0 0 18px 26px;
}

.product-meta h2 {
	line-height: 1.2em;
	font-size: 1.5rem;
	font-family: Helvetica;
	text-transform: uppercase;
}

#product-list li img {
	width: 215px;
}

#purchase-form {
	color: #FFF;
	background-color: #444;
	padding: 1em;
	line-height: 1.3;
	font-size: 15px;
	border-radius: 2px;
	margin-top: 2em;
	margin-bottom: 2em;
}

/***** Form Elements *****/

form div {
	margin:8px 0;
}

input:invalid {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input:valid {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.readonly-input {
	border: none;
	background-color: #444;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	display: inline-block;
}

/***** Footer *****/

footer {
	border-top: 1px solid #000;
	background-color: #bdbdbd;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
}
